# HW1 請自行找一組與教育相關的資料，並對這組資料提問十個問題後，使用pandas回答

導入資料

In [7]:
import pandas as pd

df = pd.read_csv('各校退學人數.csv')

df.head()

,學年度,學期,設立別,學校類別,學校統計處代碼,學校名稱,學制班別,性別,在學學生數,退學人數小計,...,因志趣不合退學人數,因逾期未註冊退學人數,因休學逾期未復學退學人數,因懷孕退學人數,因育嬰退學人數,因病退學人數,因工作需求退學人數,因經濟困難退學人數,因生涯規劃退學人數,其他(不含死亡)退學人數
0,105,1,公立,一般大學,0001,國立政治大學,學士班(日間),男,"3,912",53,...,12,0,33,0,0,0,0,...,...,2
1,105,1,公立,一般大學,0001,國立政治大學,碩士班(日間),男,"1,808",71,...,15,0,49,0,0,0,0,...,...,2
2,105,1,公立,一般大學,0001,國立政治大學,碩士在職專班,男,882,24,...,3,0,20,0,0,0,0,...,...,1
3,105,1,公立,一般大學,0001,國立政治大學,博士班,男,605,30,...,5,0,21,0,0,0,0,...,...,0
4,105,1,公立,一般大學,0001,國立政治大學,學士班(日間),女,"5,799",58,...,24,0,30,0,0,0,0,...,...,2

1.這份資料有幾筆?

In [158]:
# 觀察資料筆數
print("資料筆數：", len(df))

資料筆數： 8015

2.這份資料有哪些大學?

In [57]:
# 找出所有不重複的學校名稱
universities = df['學校名稱'].unique()
# 將所有學校名稱放進一個 DataFrame 中
df_universities = pd.DataFrame(universities, columns=['學校名稱'])

# 顯示 DataFrame
print(df_universities)

                      學校名稱
0                   國立政治大學
1                   國立清華大學
2                   國立臺灣大學
3                 國立臺灣師範大學
4                   國立成功大學
..                     ...
159               國立高雄科技大學
160  學校財團法人中華浸信會基督教台灣浸會神學院
161       台神學校財團法人台灣神學研究學院
162                一貫道崇德學院
163          台灣基督長老教會南神神學院

[164 rows x 1 columns]

3.顯示各校的退學人數總和

In [79]:
print(df.groupby('學校名稱')['退學人數小計'].sum())

學校名稱
一貫道崇德學院                2
世新大學                1840
中信學校財團法人中信金融管理學院     145
中原大學                2961
中國文化大學              6194
                    ...
高美醫護管理專科學校            31
高苑科技大學              2702
高雄醫學大學               969
黎明技術學院              1461
龍華科技大學              3466
Name: 退學人數小計, Length: 164, dtype: int64

4.退學人數前10高的學校為何?

In [169]:

# 使用 groupby 方法以學校名稱為基礎分組，計算每個組別的退學人數總和
grouped = df.groupby('學校名稱')['退學人數小計'].sum()

# 以遞減方式排序，並顯示前5筆資料
print(grouped.sort_values(ascending=False).head(10))

學校名稱
中國文化大學            6194
輔仁大學              5284
淡江大學              5123
正修學校財團法人正修科技大學    4909
明新學校財團法人明新科技大學    4361
義守大學              3808
國立臺灣大學            3732
龍華科技大學            3466
朝陽科技大學            3440
實踐大學              3417
Name: 退學人數小計, dtype: int64

5.退學人數前10低的學校為何?

In [167]:
grouped.sort_values(ascending=True).head(10)

學校名稱
台灣基督長老教會南神神學院              0
台神學校財團法人台灣神學研究學院           1
學校財團法人中華浸信會基督教台灣浸會神學院      2
一貫道崇德學院                    2
財團法人一貫道天皇基金會一貫道天皇學院       21
高美醫護管理專科學校                31
臺北基督學院                    43
馬偕學校財團法人馬偕醫學院             64
法鼓學校財團法人法鼓文理學院            92
國立臺南護理專科學校               136
Name: 退學人數小計, dtype: int64

6.男生退學人數前10低的學校為何?

In [166]:
# 取出男生退學人數資料
male_dropout = df[df['性別'] == '男'][['學校名稱', '退學人數小計']]
# 依照退學人數小計做遞增排序，並取前10筆
lowest_male_dropout = male_dropout.sort_values('退學人數小計', ascending=True).head(10)
# 顯示結果
lowest_male_dropout[['學校名稱']]

                     學校名稱
4815     光宇學校財團法人元培醫事科技大學
4306           國立臺南護理專科學校
7345               中山醫學大學
5266  財團法人一貫道天皇基金會一貫道天皇學院
5267  財團法人一貫道天皇基金會一貫道天皇學院
4304           國立臺南護理專科學校
4301             國立臺灣戲曲學院
2863             國立臺北商業大學
4282               國立屏東大學
6587       法鼓學校財團法人法鼓文理學院

7.女生退學人數前10低的學校為何?

In [164]:
# 取出女生退學人數資料
male_dropout = df[df['性別'] == '女'][['學校名稱', '退學人數小計']]
# 依照退學人數小計做遞增排序，並取前10筆
lowest_male_dropout = male_dropout.sort_values('退學人數小計', ascending=True).head(10)
# 顯示結果
lowest_male_dropout[['學校名稱']]

                    學校名稱
5271    台神學校財團法人台灣神學研究學院
4265            國立臺中科技大學
6474      東方學校財團法人東方設計大學
6475      東方學校財團法人東方設計大學
4251          國立臺灣體育運動大學
6488  台北海洋學校財團法人台北海洋科技大學
6489  台北海洋學校財團法人台北海洋科技大學
4243              國立金門大學
4242              國立金門大學
6497    中信學校財團法人中信金融管理學院

8.男生退學人數前10多的學校為何?

In [160]:
# 取得男生退學人數
male_dropout = df[df['性別'] == '男']['退學人數小計']

# 取得男生退學人數前10多的學校代碼及名稱
school_male_dropout = df[df['性別'] == '男'][['學校統計處代碼', '學校名稱', '退學人數小計']].groupby(['學校統計處代碼', '學校名稱']).sum().sort_values(by='退學人數小計', ascending=False).head(10)

# 顯示結果
school_male_dropout

                        退學人數小計
學校統計處代碼 學校名稱
1006    中國文化大學            3460
1005    淡江大學              3260
1037    正修學校財團法人正修科技大學    3125
1032    明新學校財團法人明新科技大學    2860
1002    輔仁大學              2736
0003    國立臺灣大學            2481
1007    逢甲大學              2456
1030    龍華科技大學            2430
1014    義守大學              2414
1036    健行學校財團法人健行科技大學    2135

9.女生退學人數前10多的學校為何?

In [159]:
# 取得女生退學人數
male_dropout = df[df['性別'] == '女']['退學人數小計']

# 取得女生退學人數前10多的學校代碼及名稱
school_male_dropout = df[df['性別'] == '女'][['學校統計處代碼', '學校名稱', '退學人數小計']].groupby(['學校統計處代碼', '學校名稱']).sum().sort_values(by='退學人數小計', ascending=False).head(10)

# 顯示結果
school_male_dropout

                            退學人數小計
學校統計處代碼 學校名稱
1006    中國文化大學                2734
1002    輔仁大學                  2548
1017    實踐大學                  2010
1005    淡江大學                  1863
1037    正修學校財團法人正修科技大學        1784
1051    台南家專學校財團法人台南應用科技大學    1740
1018    朝陽科技大學                1583
1025    嘉藥學校財團法人嘉南藥理大學        1561
1073    醒吾學校財團法人醒吾科技大學        1517
1032    明新學校財團法人明新科技大學        1501

10.顯示各種退學原因的人數

In [10]:
reason_counts = df.iloc[:, 9:].sum()
reason_counts

退學人數小計                                                     271352
因學業成績退學人數                                                   31634
因操行成績退學人數                                                    2081
因志趣不合退學人數                                                   68728
因逾期未註冊退學人數                                                  47487
因休學逾期未復學退學人數                                                88518
因懷孕退學人數                                                        69
因育嬰退學人數                                                       117
因病退學人數                                                       1038
因工作需求退學人數                                                    9970
因經濟困難退學人數       .................................................
因生涯規劃退學人數       .................................................
其他(不含死亡)退學人數                                                16064
dtype: object